<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta property="og:title" content="항해99 6기 9조"/>
    <meta property="og:description" content="우리동네 빵집"/>
    <meta property="og:image" content="이미지URL주소입력"/>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">

    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=cd51ea275f11885a15fbe3d5d1d142c4&libraries=services,drawing"></script>

    <title>항해99 6기-9조</title>

    <style>
        * {
            font-family: 'Do Hyeon', sans-serif;
        }

        .title {
            text-align: center;
        }

        .wrap {
            margin: 20px auto 0px auto;
            width: 95%;
            max-width: 600px;
        }

        .wrap > div {
            margin: 10px 0px 10px 0px;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

        }

        .address_box {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        .address_box > button {
            width: 70px;
        }
        .address_box > input {
            margin-right: 10px;
            min-width: 500px;
            width: 95%
        }

    </style>
    <script>
        function addsearch() {
            let address = $('#address').val();
            var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                mapOption = {
                    center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                    level: 3 // 지도의 확대 레벨
                };
            // 지도를 생성합니다
            var map = new kakao.maps.Map(mapContainer, mapOption);
            // 주소-좌표 변환 객체를 생성합니다
            var geocoder = new kakao.maps.services.Geocoder();

            // 주소로 좌표를 검색합니다
            geocoder.addressSearch(address, function (result, status) {

                // 정상적으로 검색이 완료됐으면
                if (status === kakao.maps.services.Status.OK) {

                    var coords = new kakao.maps.LatLng(result[0].y, result[0].x);
                    locationxy = [result[0].y, result[0].x]
                    console.log(locationxy);
                    // 결과값으로 받은 위치를 마커로 표시합니다
                    var marker = new kakao.maps.Marker({
                        map: map,
                        position: coords
                    });

                    // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
                    map.setCenter(coords);
                    clicksearch = true
                } else {
                    clicksearch = false
                    alert('제대로 된 주소가 아닙니다!')
                }
            });
        }

        function save_review() {
            let store = $('#store').val()
            let menu = $('#menu').val()
            let localname = $('#localname').val()
            let star = $('#star').val()
            let comment = $('#comment').val()
            let image = $('#image').val()
            let address = $('#address').val()

            $.ajax({
                type: "POST",
                url: "/review",
                data: {
                    store_give: store,
                    menu_give: menu,
                    localname_give: localname,
                    star_give: star,
                    comment_give: comment,
                    image_give: image,
                    address_give: address
                },
                success: function (response) {
                    alert(response["msg"])
                    window.location.reload()
                }
            });
        }
    </script>
</head>
<body>

    <h1 class="title">동네빵집</h1>
    <div class="wrap">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="store" placeholder="빵집 이름을 입력해주세요">
            <label for="store">빵집 이름</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="menu" placeholder="추천 메뉴를 입력해주세요">
            <label for="menu">추천 메뉴</label>
        </div>
        <div class="select">
            <select id="localname" class="form-select" aria-label="Default select example">
                <option selected>서울내 행정구역을 선택해주세요.</option>
                <option value="강남구">강남구</option>
                <option value="강동구">강동구</option>
                <option value="강북구">강북구</option>
                <option value="강서구">강서구</option>
                <option value="관악구">관악구</option>
                <option value="광진구">광진구</option>
                <option value="구로구">구로구</option>
                <option value="금천구">금천구</option>
                <option value="노원구">노원구</option>
                <option value="도봉구">도봉구</option>
                <option value="동대문구">동대문구</option>
                <option value="동작구">동작구</option>
                <option value="마포구">마포구</option>
                <option value="서대문구">서대문구</option>
                <option value="서초구">서초구</option>
                <option value="성동구">성동구</option>
                <option value="성북구">성북구</option>
                <option value="송파구">송파구</option>
                <option value="양천구">양천구</option>
                <option value="영등포구">영등포구</option>
                <option value="용산구">용산구</option>
                <option value="은평구">은평구</option>
                <option value="종로구">종로구</option>
                <option value="중구">중구</option>
                <option value="중랑구">중랑구</option>
            </select>
        </div>
        <div class="select">
            <select id="star" class="form-select" aria-label="Default select example">
                <option selected>당신의 별점은 몇점인가요?</option>
                <option value="1">⭐</option>
                <option value="2">⭐⭐</option>
                <option value="3">⭐⭐⭐</option>
                <option value="4">⭐⭐⭐⭐</option>
                <option value="5">⭐⭐⭐⭐⭐</option>
            </select>
        </div>
        <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" id="comment"
                          style="height: 100px"></textarea>
            <label for="comment">의견남기기</label>
        </div>
        <div class="img-box">
            <div class="input-group mb-3">
                <input type="file" class="form-control" id="image">
                <label class="input-group-text" for="image">업로드하기</label>
            </div>
        </div>
        <div class="box_searchbar">
            <div class="form-inline my-2 my-lg-0, address_box">
                <input class="form-control mr-sm-2" type="search" id="address" placeholder="정확한 주소를 입력해주세요"
                       aria-label="Search">
                <button onclick="addsearch()" class="btn btn-outline-success my-2 my-sm-0" type="submit">검색
                </button>
            </div>
        </div>
        <div id="map" style="width:100%;height:350px;"></div>
        <script>
            var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                mapOption = {
                    // center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                    level: 3 // 지도의 확대 레벨
                };
            // 지도를 생성합니다
            var map = new kakao.maps.Map(mapContainer, mapOption);

        </script>
        <div class="mybtn">
            <button type="button" class="btn btn-outline-dark" onclick="save_review()">완료 및 전송</button>
        </div>
    </div>


</body>
</html>