<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--    <script src="/path/to/jquery.js"></script>-->
    <!--    <script src="/path/to/jquery.cookie.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Gugi&family=Nanum+Gothic&family=Nanum+Pen+Script&display=swap"
          rel="stylesheet">

    <title>동네빵집(Main></title>

    <style>
        * {
            font-family: 'Nanum Gothic', sans-serif;
            color: #40E0D0;
        }

        body {
            background-color: white;
            text-align: center;
            min-height: 100vh;
            font-family: 'Nanum Pen Script', cursive;

        }

        .mainbox {
            background-color: white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 30px;
        }

        .title {
            font-family: 'Gugi', cursive;
            margin-top: 60px;
            color: #40E0D0;
            font-size: 4rem;
        }

        .mini-title {
            font-family: 'Nanum Pen Script', cursive;
            font-size: 2rem;
            margin-top: -19px
        }

        .beststore {
            margin-top: 5px;
            padding: 10px 0px 10px 0px;
            font-family: 'Gamja Flower', cursive;
        }

        .mytitle {
            width: 800px;
            height: 400px;
            margin: 30px auto 50px auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }

        .search-box {
            margin: 50px auto;
            width: 500px;
            margin-bottom: 20px;
        }

        .is-buton {
            color: white !important;
            background-color: #40E0D0 !important;
            border-radius: 19px;
        }

        .is-buton.is-outlined {
            color: #40E0D0 !important;
            background-color: white !important;
            border-color: #40E0D0 !important;
            width: 90px;
            height: 35px;
            position: absolute;
            margin: 13px 0px 0px 290px;
        }

        .card {
            margin-right: 20px;
        }

    </style>
    <script>
        $(document).ready(function () {
            show_project01();
        });

        function show_project01() {
            $.ajax({
                type: "GET",
                url: "/project01",
                data: {},
                success: function (response) {
                    let rows = response['projects01']
                    for (let i = 0; i < rows.length; i++) {
                        let store = rows[i]['store']
                        let image = rows[i]['image']
                        let star = rows[i]['star']
                        let num = rows[i]['num']

                        let star_image = '⭐'.repeat(star)

                        let temp_html = `<div class="card" style="width: 13rem; margin-left: 15px; border-radius: 19px;">
                                              <img src="${image}"
                                                 class="card-img-top" alt="${image}">
                                              <div class="card-body">
                                                  <h5 class="card-title"
                                                    style="color: dimgray; font-size: 1.3rem; font-weight: bold; margin: 15px 0px 30px 0px">${store}</h5>
                                                  <hr style="color: gray">
                                                  <p class="card-text" style="letter-spacing: 7px">${star_image}</p>
                                                  <a href="/index5?num_give=${num}" class="button is-primary is-buton">상세정보</a>
                                              </div>
                                         </div>`
                        $("#cards-box").append(temp_html)
                    }
                }
            });
        }

        function save_project01() {
            let localname = $('#localname').val()
            let address = $('#address').val()
            let menu = $('#menu').val()
            let comment = $('#comment').val()
            let star = $('#star').val()
            let image = $('#image').val()

            $.ajax({
                type: "POST",
                url: "/project01",
                data: {name_give: name, address_give: address, menu_give: menu, comment_give: comment, star_give: star},
                success: function (response) {
                    alert(response["msg"])
                    window.location.reload()
                }
            });
        }

        function sign_out() {
            $.removeCookie('mytoken', {path: '/'});
            alert('로그아웃!')
            window.location.href = "/login"
        }

        <!-- 검색 기능 구현 -->
        function find_store() {
            $('#cards-box').empty()
            if ($('#input-store').val() == '') {
                alert('검색어를 입력해주세요!') // 키워드를 입력하지 않으면 검색이 작동하지 않도록 간단한 장치를 했습니다. 실제로는 입력받은 키워드의 데이터 크기를 찾아야 한다네요.
            } else {
                let keyword = $('#input-store').val()
                $.ajax({
                    type: "GET",
                    url: "/search?store_give=" + keyword,
                    data: {},
                    success: function (response) {
                        let rows = response['search_list']
                        let row = rows['search_list']
                        console.log(rows['search_list']) // 검색어를 입력한 후, 콘솔창에 데이터가 잘 들어왔는지 확인해 봅시다.
                        for (let i = 0; i < row.length; i++) {
                            let search_store = row[i]['store']
                            let search_image = row[i]['image']
                            let search_star = row[i]['star']
                            let star_image = '⭐'.repeat(search_star)
                            let temp_html = `<div class="card" style="width: 13rem; margin-left: 15px; border-radius: 19px;">
                                                  <img src="${search_image}"
                                                     class="card-img-top" alt="${search_image}">
                                                  <div class="card-body">
                                                      <h5 class="card-title"
                                                        style="color: dimgray; font-size: 1.3rem; font-weight: bold; margin: 15px 0px 30px 0px">${search_store}</h5>
                                                      <hr style="color: gray">
                                                      <p class="card-text" style="letter-spacing: 7px">${star_image}</p>
                                                      <a href="#" class="button is-primary is-buton">상세정보</a>
                                                  </div>
                                             </div>`
                            $('#cards-box').append(temp_html)
                        }
                        alert(response["msg"])
                    }
                })
            }
        }

        <!-- 검색 필터 기능 구현 -->
        function filter() {
            let search = document.getElementById("input-store").value.toLowerCase();
            let listInner = document.getElementsByClassName("card");

            for (let i = 0; i < listInner.length; i++) {
                store = listInner[i].getElementsByClassName("card-title");
                if (store[0].innerHTML.toLowerCase().indexOf(search) != -1) {
                    listInner[i].style.display = "flex"
                } else {
                    listInner[i].style.display = "none"
                }
            }
        }
    </script>
</head>
<body>
<section class="mainbox">
    <nav>
        <a class="button is-primary is-buton is-outlined" aria-label="logout"
           onclick="sign_out()"> 로그아웃
        </a>
    </nav>
    <h1 class="title">동네빵집</h1>
    <h1 class="mini-title">일상을 달달하게</h1>
    <div class="search-box d-flex justify-content-center">
        <!--        {# <i class="fas fa-search"></i>#}-->
        <!--        {# <input type="text">#}-->
        <!--        {# <i class="fas fa-keyboard"></i>#}-->
        <!--        {# <i class="fas fa-microphone"></i>#}-->
        <!--        {#        &lt;!&ndash;    아이콘삽입예정&ndash;&gt;#}-->
        <!--        {#-->
        <!--        <button class="button is-primary is-outlined is-search">검색</button>-->
        <!--        #}-->
        <input id="input-store" class="form-control" style="margin-right: 0.5rem; width: 10rem" onkeyup="filter()">
        <button class="button is-primary is-buton" onclick="find_store()"><i class="fa fa-search"></i>검색
        </button>
        <a class="button is-primary is-buton" href="/index4.html" target="_blank" style="margin-left: 5px">등록하기</a>
    </div>
    </div>
    <h2 class="beststore" style="background-color: #40E0D0; color: white;">Best 빵집</h2>
    <hr style="color: gray">
<!--    <div class="mytitle" id="reviews-list">-->
<!--        <div class="card" style="width: 13rem;">-->
<!--            <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAxOTA5MDhfOTQg%2FMDAxNTY3OTQ2OTU2MTA2.-L82tyexg_Fo0TtoZ_68yI-N6OUsCDmM6wvqX5of228g.Iqw5DZiv6rTBV88IPsMTFJ_Pmq-RMzR05qlmBCzaWzkg.JPEG.dddowny%2FIMG_1470.jpg&type=sc960_832"-->
<!--                 class="card-img-top" alt="...">-->
<!--            <div class="card-body">-->
<!--                <h5 class="card-title"-->
<!--                    style="color: dimgray; font-size: 1.3rem; font-weight: bold; margin: 15px 0px 30px 0px">빅토리아-->
<!--                    베이커리</h5>-->
<!--                <hr style="color: gray">-->
<!--                <p class="card-star" style="letter-spacing: 7px">⭐⭐⭐⭐</p>-->
<!--                <a href="#" class="button is-primary is-buton">상세정보</a>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="card" style="width: 13rem;">-->
<!--            <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMDAxMjdfODkg%2FMDAxNTgwMTAzMTk1NTIw.6Nfi6txn0ZRaGMG3_OJuCkoXqhDHlgASE0jlcnSeAe8g.r7YDLbqqdbdBeFhNpTYxZ5j1LLUJ4HKjnHqHDsUP_Xsg.JPEG.skrhdwn2496%2FIMG_2174.jpg&type=sc960_832"-->
<!--                 class="card-img-top" alt="...">-->
<!--            <div class="card-body">-->
<!--                <h5 class="card-title"-->
<!--                    style="color: dimgray; font-size: 1.3rem; font-weight: bold; margin: 15px 0px 30px 0px">맘마미아</h5>-->
<!--                <hr style="color: gray">-->
<!--                <p class="card-text" style="letter-spacing: 7px">⭐⭐⭐⭐</p>-->
<!--                <a href="#" class="button is-primary is-buton">상세정보</a>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="card" style="width: 13rem;">-->
<!--            <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMTAxMTlfMjk5%2FMDAxNjExMDYwMjM0NTM2.dVUHvmR32EwGlbw0yZjGnjsuNsNJ-J_RWTPhaGwkFYQg.3aHQ9iCnU6tDEttswXwSQLCFnp2_TpCM1EDdpAgg1VQg.JPEG.cocabobo%2F20210117%25A3%25DF122358.jpg&type=sc960_832"-->
<!--                 class="card-img-top" alt="...">-->
<!--            <div class="card-body">-->
<!--                <h5 class="card-title"-->
<!--                    style="color: dimgray; font-size: 1.3rem; font-weight: bold; margin: 15px 0px 30px 0px">어글리-->
<!--                    베이커리</h5>-->
<!--                <hr style="color: gray">-->
<!--                <p class="card-text" style="letter-spacing: 7px">⭐⭐⭐⭐</p>-->
<!--                <a href="#" class="button is-primary is-buton">상세정보</a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <div class="title" id="cards-box">

    </div>
</section>
</body>
</html>